<%- include ('partials/header.ejs'); %>
  <body>
    <h1>Perguntas e Respostas</h1>
    <a href="/perguntar">Clique aqui para fazer uma pergunta</a>
  </body>
  <%- include ('partials/footerScripts.ejs'); %>
</html>
