<%- include ('partials/header.ejs'); %>
  <body>
    <main>
        <%- include ('partials/navbar.ejs'); %>
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h2>Realizar Perguntas</h2>
          </div>
          <div class="card-body">
            <form action="/salvarpergunta" method="POST">
              <label for="title"> Titulo </label>
              <br />
              <input
                type="text"
                placeholder="Titulo"
                name="title"
                class="form-control"
                id="title"
              />
              <label for="pergunta">Descrição</label>
              <textarea
                name="description"
                id="pergunta"
                cols="30"
                rows="10"
                class="form-control"
              >
              </textarea>
              <br />
              <button type="submit" class="btn btn-success">
                Enviar Pergunta
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
  <%- include ('partials/footerScripts.ejs'); %>
</html>
